button{
    background-color: rgba(255, 166, 0, 0.592);
    border-color: wheat;
    font-size: x-large;
    color: aliceblue;
    text-align: center;
    margin-top: 100px;
    align-items: center;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.701),rgba(0, 0, 0, 0.7)),url(Healtyfoods.jpeg); 
     background-position: center;
    background-size: cover;
    height: 100vh; 
    
}
p{
    color: white;
}

h1{
    color: white;
       font-size:xx-large;
       font-size: 2em;
       text-align: center;
       margin-top: 100px;
}
section{
    color: white;
}

.logo {
    width: 80px; /* Adjust width as needed for your logo size */
    height: 80px; /* Set the same width for a circle */
    border-radius: 50%; /* Creates a circular shape */
    background-image: url("Healthy\ Bites\ Restaurant.png"); 
    background-size: cover; 
    background-position: center;
    position: absolute; 
    top: 10px; 
    left: 10px;
  }


  @media only screen and (max-width: 768px) {
    
}
.image{
    float: left;
}

    
header {
    background-color: rgb(208, 130, 66);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  
  header a {
    text-decoration: none;
    color: white;
  }
  
  header a:hover {
    color: #666;
  }
  
  header .logo {
    width: 150px;
    height: auto;
  }
  
  header h1 {
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  header nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  header nav a {
    font-size: 1.2rem;
    margin-right: 20px;
  }
  .Our-popular-food {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: #ffffffcd;
  }
  
  .Our-popular-food > div {
    background-color: #ffffffcd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    box-sizing: border-box;
  }
  
  .Our-popular-food img {
    width: 100%;
    height: 70%;
    border-radius: 8px;
    margin-top: 10px;
  }
  #C{
    color: azure;
    background-color: rgba(97, 34, 13, 0.564);
    border-top-width: 2px;
    border-style: inherit;
    border-radius: 30%;
    text-align: left;
    font-size: larger;
    
  }
  #PH{
    background-color: #ffffffcd;
    text-align: center;
    font-style: italic;
    font-display: bold;
  }
  .LP{
    background: linear-gradient(rgb(236, 249, 255),
    rgb(255, 251, 235),
    rgb(255, 231, 204),
    rgb(248, 203, 166));
    height: 100vh;
    color: black;
  }
  .FP{
    height: 90vh;
  }
  .preview{
    display: grid;
    max-width: 1200px;
  margin: 0 auto;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));  
  border-radius: 20px;
}
  

    
